@import "reset";
@import "nav";
@import "header";

.circulo{
	width: 100px;
	height:100px;
	display:inline-block;
	border-radius:50%;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4)
}
.telefe{
	.verde{
		@extend .circulo;
		background:green;
	}
		.azul{
		@extend .circulo;
		background:blue;
	}
		.rojo{
		@extend .circulo;
		background:red;
	}
}